
a{ 
color: #a7a9b8;
 }
 a:hover{
  color:#181b31;
}

    .hide{
        display:none;
    }

    body{
      width:350px;
      height: 100%; 
      overflow: hidden;
      margin: 0 auto;
            font-family: 'Glacial Indifference',"Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    section{
        /*border-bottom: solid 1px #ddd;*/
        height:600px;
        overflow: hidden;
    }
    section::-webkit-scrollbar {
      display: none;
    }

    .full-length{
      width: 100%;
    }
    .top-block{
    line-height: 25px;
    font-weight: 400;
    /*border-bottom: 1px solid #ddd;*/
    padding-bottom: 20px;
    padding: 20px 20px;
    /*color: white;*/
    /*background: #34495e;*/
    font-family: 'Glacial Indifference', sans-serif;
    }
    .top-block div{
      margin: 0 !important;
      padding: 0 !important;
    }
    .top-title-block{
      border-bottom: 1px solid #ffb09f;
      color:#666;
    }
    .title-middle-block{
      padding: 52px 5px;

    }
    .title-1{
      font-size: 28px;
      color: #111;
      font-weight: 800;
    }
    .subtitle{
      padding-bottom: 20px;
      color: #6c757d;
      font-weight: 200;
      font-size: 18px;
    }

    .container{
      padding: 0 20px 20px 20px;
    }

    #_i_walletSandbox{
      display:none;
    }

    .btn{
      margin: 5px 0;
      padding: 15px 0;
      border-radius: 5px;
      color: white;
      border: none;
    }

    .btn-top{
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 12px;
    padding: 0px 10px;
    color: #aaa;
    background: none;
    }
    .btn-top:hover{
      color: #555;
      border-color: #555;
      box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    }

    .btn-cnt{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12px;
    padding: 0px 10px 3px;
    color: black;
    background: none;
    margin: 1px 5px;
    }

    .btn:hover{
      color:white;
    }
    .in-description{
    font-size: 14px;
    color: #999;
    font-weight: 400;
    font-style: italic;
    }
    .in-passphrase{
    padding: 15px 12px;
    text-align: left;
    border-radius: 13px;
    color: #2c3e50;
    line-height: 44px;
    background: #ecf0f1;
    height: 208px;
    }
    .in-passphrase span{
      border: 1px solid #bdc3c7;
      padding: 4px 12px 6px;
      border-radius: 20px;
      text-align: center;
      font-size: 14px;
      
    }

    .btn-1{
      background: #ff1717;
    }
    .btn-1:hover{
      box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    }
    .btn-2{
      color: #ff1717;
      border: 1px solid #ff1717;
    }
    .btn-2:hover{
      box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
      color: #ff1717;
    }

    .btn-3{
    font-size: 15px !important;
        color: #777;
        display: inline-block;
        margin-top: 10px;
        top: -2px;
        position: relative;
        left: -18px;
        cursor: pointer;
    }

    .block{
      width: 100%;
      padding: 5px 0;
    }

    .danger{
      color:#c0392b;
    }

    .logo{
      margin-left: -40px;
      margin-top: -6px;
      margin-right: 15px;
    }


    .mainLogo{
      margin-bottom:  45px;
    }

    .walletAddressTitle{
      margin-bottom:15px;
      color: #6c757d;
      font-weight: 700;
    }

    .walletAddressContent{
      font-size:12px;
      margin-top:15px;
      color: #6c757d;

    }

    .tokenAmount span{
      font-weight: 600;
      font-size: 26px;
    }

    .fa-retweet{
      font-size: 14px;
    color: #333;
    position: relative;
    top: 2px;
    }

    .forgotpasswordlink{
      color: #6c757d;
      font-weight: 200;
    }
    .forgotpasswordlink a{
      font-weight: 400;
    }

    .description{
      margin-bottom: 5px;
    }